@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background: rgb(37, 37, 37) url("../pictures/bg.png");
    background-size: cover;
    background-attachment: fixed;
}

h1{
    background-size: cover;
    text-align: center;
    color: white;
    margin-top: 200px;
}

h1 span{
    text-transform: uppercase;
    display: block;
    font-size: 1.4rem;
    position: relative;
    z-index: 1;
}

h1 span::before{
    content: ' ';
    position: absolute;
    width: 3em;
    background: rgb(53, 53, 53);
    height: .4em;
    bottom: 0;
    z-index: -1;
    margin-left: -.3em;
}

input[type=button]{
    background-color: #383838;
    border: none;
    width: 20%;
    color: white;
    font-weight: bold;
    padding: 1em;
    border-radius: .5em;
    font-size: 1.3em;
    cursor: pointer;
    margin-left: 40%;
}

input[type=button]:hover{
    background-color: #161616;
}

@media (max-width: 700px){
    input[type=button]{
        width: 40%;
        margin-left: 30%;
    }
}

@media (max-width: 400px){
    input[type=button]{
        width: 55%;
        padding: .7em;
        margin-left: 20%;
    }
}