@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background: rgb(37, 37, 37) url("../pictures/bg.png");
    background-size: cover;
    background-attachment: fixed;
}

h1{
    background-size: cover;
    text-align: center;
    color: white;
    margin-top: 200px;
}

h1 span{
    text-transform: uppercase;
    display: block;
    font-size: 1.4rem;
    position: relative;
    z-index: 1;
}

h1 span::before{
    content: ' ';
    position: absolute;
    width: 3em;
    background: rgb(53, 53, 53);
    height: .4em;
    bottom: 0;
    z-index: -1;
    margin-left: -.3em;
}

.btn-container{
    margin-left: 42%;
}

.btn{
    border: 1px solid rgb(78, 78, 78);
    background: none;
    padding: 5px 20px;
    font-size: 25px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 5px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.back{
    color: rgb(78, 78, 78);
}

.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #34495e;
    z-index: -1;
    transition: 0.8s;
}

.back::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}

.back:hover::before{
    height: 190%;
}

.back:hover{
    color: #fff;
}

@media(max-width: 952px){
    .btn-container{
        margin-left: 38%;
    }
}

@media(max-width: 952px){
    .btn-container{
        margin-left: 36%;
    }
}

@media(max-width: 525px){
    .btn-container{
        margin-left: 30%;
    }
}

@media(max-width: 420px){
    .btn-container{
        margin-left: 28%;
    }
}
